[Unit]
Description=Caramba Helper Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/caramba
ExecStart=/opt/caramba/caramba-bot
Restart=always
EnvironmentFile=-/opt/caramba/.env
EnvironmentFile=-/opt/caramba/bot.env

[Install]
WantedBy=multi-user.target
