[Unit]
Description=Caramba Subscription Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/caramba
ExecStart=/opt/caramba/caramba-sub
Restart=always
EnvironmentFile=-/opt/caramba/.env
EnvironmentFile=-/opt/caramba/sub.env

[Install]
WantedBy=multi-user.target
