<header>
    <a href="#close" aria-label="Close" class="close" onclick="document.getElementById('edit-node-modal').close()"></a>
    Edit Node: {{ node.name }}
</header>
<form hx-post="{{ admin_path }}/nodes/{{ node.id }}/update" hx-swap="none">
    <label for="edit_name">Friendly Name</label>
    <input type="text" id="edit_name" name="name" value="{{ node.name }}" required>

    <label for="edit_ip">IP Address</label>
    <input type="text" id="edit_ip" name="ip" value="{{ node.ip }}" required>

    <footer>
        <button type="button" class="secondary"
            onclick="document.getElementById('edit-node-modal').close()">Cancel</button>
        <button type="submit" onclick="setTimeout(()=>document.getElementById('edit-node-modal').close(), 500)">Save
            Changes</button>
    </footer>
</form>